<%= form_with(model: todo, id: "#{dom_id(todo)}_form") do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="adding-task">
    <%= form.text_area :title, class: "task-title", placeholder:"Task name here",  cols:"30", rows:"2"%>
    <%= form.text_area :description, class: "task-edit", placeholder:"Description", cols:"30", rows:"6"  %>

    <div class="button-add-task">
      <input name="commit" type="submit" value="Add task" />
    </div>
</div>
<% end %>
