 <% if current_user %>
      Hi <%= current_user.email %>
<% end %>

<main class="main-todo">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= render "form", todo: Todo.new %>

  <div id="todos" class="tasks">
    <%= render @todos %> 
  </div>
</main>